.filters {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  font-size: 0.83em;
  font-weight: bold;
  padding: 0 6pt 6pt !important;

  li  {
    border-radius: 20pt;
    display: flex;
    padding: 0pt 0 0pt 8pt;
    margin: 3pt;
    align-items: center;
    background: #009ee0;
    color: rgba(255, 255, 255, 0.8);

    label {
      cursor: pointer;
    }

    strong {
      color: rgba(255, 255, 255, 1);
    }

    &.not {
      background: #dc0067;
    }

    button {
      box-shadow: none;
      margin: 2pt;
      padding: 0;
      width: 18pt;
      height: 18pt;
      background: rgba(255, 255, 255, 0.0);
      font-size: 1.41em;
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.8);

      &:hover {
        box-shadow: none !important;
        color: #dc0067;
        background: rgba(255, 255, 255, 0.9);
      }

      &:active {
        box-shadow: none;
      }
    }
  }

  input {
    background: transparent;
    border-bottom: 2pt solid rgba(255, 255, 255, 0.5);
    padding: 2pt 0;
    outline: 0;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    border: none;

    &:focus {
      background: rgba(255, 255, 255, 0.15);
    }
  }

  strong.input {
    cursor: text;
  }
}
