.nodeheader {
    width: 90%;
    position: relative;
    z-index: 2;
}

.nodeheader img {
    width: 30%;
    max-height: 180px;
    margin: auto;
    text-align: center;
    max-width: 128px;
    display: block;
    z-index: 2;
}
.nodeheader img .none{
    display: none;
}

.nodeheader span {
    background-color: silver;
    background-color: hsla(0, 0%, 100%, 0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 1.5em;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: large;
    z-index: 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.limit {
    min-height: 1px;
    max-height: 1px;
}
