{
  "dataPath": "https://map.luebeck.freifunk.net/data/",
  "siteName": "Freifunk Lübeck",
  "mapSigmaScale": 0.5,
  "showContact": true,
  "maxAge": 14,
  "mapLayers": [
    { "name": "MapQuest",
      "url": "https://otile{s}-s.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.jpg",
      "config": {
        "subdomains": "1234",
        "type": "osm",
        "attribution": "Tiles &copy; <a href=\"https://www.mapquest.com/\" target=\"_blank\">MapQuest</a>, Data CC-BY-SA OpenStreetMap",
        "maxZoom": 18
      }
    },
    {
      "name": "Stamen.TonerLite"
    }
  ],
  "nodeCharts": [
    {
      "name": "Statistik",
      "metrics": [
        {
          "id": "clientcount",
          "color": "#1566A9",
          "label": "Clients"
        },
        {
          "id": "loadavg",
          "color": "#1566A9",
          "label": "Load"
        },
        {
          "id": "uptime",
          "color": "#1566A9",
          "label": "Uptime"
        }
      ],
      "defaultMetric": "clientcount",
      "data": {
        "url": "http://137.226.33.62:8002/render",
        "parameters": [
          "format=json",
          "from=-###ZOOM_FROM###",
          "target=alias(summarize(freifunk.nodes-legacy.###NODE_ID###.clientcount,\"###ZOOM_INTERVAL###\",\"max\"),\"clientcount\")",
          "target=alias(summarize(freifunk.nodes-legacy.###NODE_ID###.loadavg,\"###ZOOM_INTERVAL###\",\"avg\"),\"loadavg\")",
          "target=alias(summarize(freifunk.nodes-legacy.###NODE_ID###.uptime,\"###ZOOM_INTERVAL###\",\"last\"),\"uptime\")"
        ]
      },
      "quirks": [ "id_to_mac" ]
    }
  ]
}
