{
  "dataPath": "https://map.ffdus.de/data/",
  "siteName": "Freifunk Flingern",
  "mapSigmaScale": 0.5,
  "showContact": true,  
  "maxAge": 14,
  "mapLayers": [
    {
      "name": "OpenStreetMap.HOT"
    },
    {
      "name": "Stamen.TonerLite"
    }
  ],
  "nodeInfos": [
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/node-byid?var-nodeid={NODE_ID}",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/node-byid?panelId=1&theme=light&width=600&height=300&var-nodeid={NODE_ID}"
    },  
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/node-byid?var-nodeid={NODE_ID}",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/node-byid?panelId=2&theme=light&width=600&height=500&var-nodeid={NODE_ID}"
    },  
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/node-byid?var-nodeid={NODE_ID}",  
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/node-byid?panelId=3&theme=light&width=600&height=200&var-nodeid={NODE_ID}"
    }
  ],
  "globalInfos": [
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/global?var-job=dus",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/global?panelId=1&&theme=light&width=800&height=600&var-job=dus"
    },
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/global?var-job=dus",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/global?panelId=8&&theme=light&width=800&height=600&var-job=dus"
    }
  ],
  "linkInfos": [
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/links?var-source={SOURCE}&var-target={TARGET}",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/links?panelId=1&&theme=light&width=800&height=600&var-source={SOURCE}&var-target={TARGET}"
    }
  ],
  "siteNames": [
    { "site": "dus", "name": "Flingern" }
  ],
  "hwImg": [
    { "thumbnail": "https://cdn.rawgit.com/Moorviper/meshviewer_hwpics/master/nodes/{MODELHASH}.svg",
      "caption": "Knoten {MODELHASH}"
    }
  ]
}

