{
  "dataPath": "https://map.ffdus.de/data/",
  "siteName": "Freifunk Flingern",
  "mapSigmaScale": 0.5,
  "showContact": true,  
  "maxAge": 14,
  "mapLayers": [
    { "name": "CartoDB",
      "url": "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
      "config": {
        "maxZoom": 18,
        "attribution": "&copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>, &copy; | <a href=\"https://carto.com/attribution\">CARTO</a>"
      }
    },
    {
      "name": "OpenStreetMap.HOT"
    },
    {
      "name": "Luftbilder NRW",
      "url": "https://www.wms.nrw.de/geobasis/wms_nw_dop20?",
      "config": {
        "maxZoom": 20,
        "attribution": "<a href=\"http://www.bezreg-koeln.nrw.de/brk_internet/geobasis/luftbilderzeugnisse/digitale_orthophotos/index.html\">DOP20</a>, Land NRW (2017), Datenlizenz Deutschland - Namensnennung - Version 2.0 (<a href=\"https://www.govdata.de/dl-de/by-2-0\">www.govdata.de/dl-de/by-2-0</a>)",
        "format": "image/jpeg",
        "layers": "nw_dop20"
      }
    }
  ],
  "nodeInfos": [
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/node-byid?var-nodeid={NODE_ID}",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/node-byid?panelId=1&theme=light&width=600&height=300&var-nodeid={NODE_ID}"
    },  
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/node-byid?var-nodeid={NODE_ID}",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/node-byid?panelId=2&theme=light&width=600&height=500&var-nodeid={NODE_ID}"
    },  
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/node-byid?var-nodeid={NODE_ID}",  
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/node-byid?panelId=3&theme=light&width=600&height=200&var-nodeid={NODE_ID}"
    }
  ],
  "globalInfos": [
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/global?var-job=dus",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/global?panelId=1&&theme=light&width=800&height=600&var-job=dus"
    },
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/global?var-job=dus",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/global?panelId=8&&theme=light&width=800&height=600&var-job=dus"
    }
  ],
  "linkInfos": [
    { "href": "https://map.eulenfunk.de/stats/dashboard/db/links?var-source={SOURCE}&var-target={TARGET}",
      "thumbnail": "https://map.eulenfunk.de/stats/render/dashboard-solo/db/links?panelId=1&&theme=light&width=800&height=600&var-source={SOURCE}&var-target={TARGET}"
    }
  ],
  "siteNames": [
    { "site": "dus", "name": "Flingern" }
  ],
  "hwImg": [
    { "thumbnail": "https://cdn.rawgit.com/Moorviper/meshviewer_hwpics/master/nodes/{MODELHASH}.svg",
      "caption": "Knoten {MODELHASH}"
    }
  ]
}

